#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  width: 72%;
  height: auto;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  font-family: "Faith-Hope-Love", sans-serif;
}

.topImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 69px;
  margin-bottom: 2px;
}
.topHeading {
  font-family: 'GrinchedRegular', sans-serif;
  font-size: 18vw;
  line-height: 1.1;
  margin-bottom: 16px;
}

.topCopy {
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 30px;
  max-width: 67%;
}

@media only screen and (max-width: 480px) {
  .topCopy {
    font-size: 0.9em;
  }
}

.topImage {
  animation: MoveUpDown 4s linear infinite;
  width: 100%;
  height: auto;
  background: radial-gradient(circle, red 0, transparent, transparent 60%);
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}


.highlight {
  color: #c30022;
}