.featuresContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.featuresContainer>* {
  flex: 1 1 300px;
}



@media only screen and (max-width: 480px) {
  .featuresContainer {
   padding-left: 0px;
   padding-right: 0px;
  }
}

.featImg {
  width: 50px;
}

.featItem {
  min-width: 127px;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .featItem {
    text-align: center;
  }
}

.featItemLeft {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* min-width: 353px;
  max-width: 49%; */
}

.featItems {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
}

.featItemsGroup {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.featMainTitle {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .featMainTitle {
    font-size: 35px;
  }
}

.featItemTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
  .featItemTitle {
    font-size: 18px;
  }
}

.featItemCopy {
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .featItemCopy {
    font-size: 14px;
  }
}


.featLink {
  font-size: 16px;

  color: #c30022;
  text-decoration: none;
}

.copyLarge {
  font-weight: bold;
  font-size: 24px;
}