.roadmapContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.roadmapMainTitle {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .roadmapMainTitle {
    font-size: 35px;
  }
}


.roadmapGrid{
  display: flex;
  gap: 37px;
  /* width: 400px; */
  /* height: 457px; */
  flex-wrap: wrap;
  justify-content: center;
}

.roadmapGridBox{
  background-color: #c30022;
  flex-basis: 10%;
  min-width: 247px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.30);
}

.roadmapGridBoxTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.roadmapGridBoxCopy {
  margin-bottom: 5px;
}

.roadmapImage {
  width: 20px;
}